

.idea/

#CMake
/cmake-build-debug/CMakeFiles
/cmake-build-debug/include
/cmake-build-debug/resources
/cmake-build-debug/src
/cmake-build-debug/Testing
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/final_sfml
/cmake-build-debug/final_sfml.cbp
/cmake-build-debug/Makefile
/cmake-build-debug/Project.cbp
